<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/src/css/index.css" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HexWrath | Index</title>
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <a href="#">
          <img src="/src/static/world.svg" width="20px" />
          <p>HexWrath</p>
        </a>
      </div>
      <div class="links">
        <a href="#">Store</a>
        <a href="#">FAQ</a>
        <a href="#">Login</a>
      </div>
    </div>
    <!--Header-->
    <div class="section bg-secondary"></div>
    <!--Who we are-->
    <div class="section bg-secondary"></div>
    <!--Features-->
    <div class="section bg-primary"></div>
    <!--Testimonials-->
    <div class="section bg-secondary"></div>
    <!--Footer-->
    <div class="footer"></div>
  </body>
</html>
